button {
    font-size: small;
    margin-right: 5px;
}

#search-bar-div{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#searchBar {
    width: 100%;
    max-width: 500px;
    margin-right: 5px;
}

#user-search-h2 {
    display: flex;
    text-align: center;
    justify-content: center;
}

@media screen and (min-width: 601px) {
    #user-search-h2 {
      font-size: 3vw;
    }
  }
  
  @media screen and (max-width: 600px) {
    #user-search-h2 {
      font-size: 6vw;
    }
  }

