.container-fluid {
    max-width: 800px;
}

.media_photo_div {
    display: flex;
    justify-content: center;
}

.media_photo {
   max-width: 100%;
   max-height: 100%;
   border-radius: 25px;
}

.media_video_div {
    display: flex;
    justify-content: center;
}

.media_video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}

.media_gif_div {
    display: flex;
    justify-content: center;
}

.media_gif{
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}

.card-title {
    padding-top: 5px;
}

.card-body {
    padding-top: 0;
    /* display: flex;
    width: 200px; */
}

.retweeted-span {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
}

.tweet-title-div{
    margin-top: 10px;
    margin-left: 15px;
}

.username-span {
    font-size: 16px;
    margin-left: 5px;
}

.screen-name-div{
    margin-top: -20px;
    margin-left: 50px;
}

.screen-name-span {
    font-size: 16px;
}

.retweet-likes-span {
    font-size: 16px;
    float: right;
    margin-top: -40px;
}

.retweet-count-span {
    margin-right: 10px;
}  
.likes-count-span {
    margin-right: 15px;
}  