.app-div {
  /* background-image: url("./images/mountains.jpg"); */
  background-color: rgb(29, 161, 242);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* .button:visited {
    font-size: 1.5vw;
    text-align: center;
    margin-right: 5px;
    max-width: 245px;
    width: 100%;
    border-radius: 25px;
    background-color: rgb(90, 98, 104);
    color: white;
} */

.button {
    font-size: 1.5vw;
    text-align: center;
    margin-right: 5px;
    max-width: 245px;
    width: 100%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.card{
    display: flex;
    justify-content: center;
    border: 3px solid rgba(0,0,0,.125);
    border-radius: 55px;
    margin-bottom: 10px;
    
}

.card-body {
    padding-top: 0;
}

.card-title {
    padding-top: 5px;
}

.container-fluid {
    max-width: 800px;
}

.likes-count-span {
    margin-right: 15px;
}

.media_photo_div {
    display: flex;
    justify-content: center;
}

.media_photo {
   max-width: 100%;
   max-height: 100%;
   border-radius: 25px;
}

.media_video_div {
    display: flex;
    justify-content: center;
}

.media_video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}

.media_gif_div {
    display: flex;
    justify-content: center;
}

.media_gif{
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}

.modal-header {
    display: block;
    padding-bottom: 5px;
}

.modal-media-div {
    margin-top: 10px;
}

.modal-title {
    margin-top: 5px;
}

.Navlink{
    color: grey;
    margin-right: 20px;
}

.Navlink:hover {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.Navlink.active {
    text-decoration: underline;
    margin-right: 20px;
}

.random-username-span {
    margin-left: 5px;
}

.random-retweet-likes-div {
    float: right;
    margin-top: -6%;
    font-size: 24px;
}

.random-card-img {
    max-width: 100%;
   max-height: 100%;
    border-radius: 55px;
}

.retweet-likes-span {
    font-size: 16px;
    float: right;
    margin-top: -40px;
}

.retweet-count-span {
    margin-right: 10px;
}

.retweeted-span {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
}

.screen-name-div{
    margin-top: -20px;
    margin-left: 50px;
}

.screen-name-span {
    font-size: 16px;
}

.tweet-title-div{
    margin-top: 10px;
    margin-left: 15px;
}

.username-span {
    font-size: 16px;
    margin-left: 5px;
}

#buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 500px;
    width: 100%;
    margin-top: 5px;
}

#search-bar-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#searchBar {
    width: 100%;
    height: 45px;
    max-width: 500px;
    margin-right: 5px;
    border-radius: 25px;
}

#user-search-h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

@media screen and (min-width: 851px) {
    .button {
        font-size: 1.75vw;
    }

    #user-search-h2 {
      font-size: 3vw;
    }
}
  
  @media screen and (max-width: 850px) {
    .button {
        font-size: 4.5vw;
    }

    #user-search-h2 {
      font-size: 6vw;
    }
}