.Navlink{
    color: grey;
    margin-right: 20px;
}

.Navlink:hover {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.Navlink.active {
    text-decoration: underline;
    margin-right: 20px;
}

.media_photo {
    overflow: hidden;
    max-height: 383;
    max-width: 680;
}

#search-bar-div{
    display: flex;
    flex-direction: row;
}